[Unit]
Description=LAN git server proxy container
Requires=__SERVICE_NAME__.network
Requires=__SERVICE_NAME__-ssh.service
After=__SERVICE_NAME__.network
After=__SERVICE_NAME__-ssh.service

[Quadlet]
DefaultDependencies=false

[Container]
ContainerName=__SERVICE_NAME__-proxy
Image=__IMAGE_TAG__
Network=__SERVICE_NAME__.network
Pull=never
Entrypoint=/usr/lib/systemd/systemd-socket-proxyd
Exec=__SERVICE_NAME__-ssh:__SSH_INTERNAL_PORT__
NoNewPrivileges=true
PodmanArgs=--preserve-fds=1
ReadOnly=true
Tmpfs=/run
Tmpfs=/tmp

[Service]
Restart=on-failure
RestartSec=5
TimeoutStartSec=900