SERVICE_NAME='git-lan'
SERVICE_USER='git'
SERVICE_GROUP='git'
SERVICE_HOME='/home/git'
DATA_ROOT='/srv/git-lan'
LISTEN_ADDRESS='127.0.0.1'
LISTEN_PORT='2222'
ADMIN_CLONE_HOST='127.0.0.1'
IMAGE_TAG='localhost/wsl-git-server:latest'